{% extends 'back.html.twig' %}
{% block nav %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <center><h1>Detail d'un club</h1></center>
        </div></div>
{% endblock nav %}

{% block body %}
    <center>

    <table id="example" class="table table-striped table-bordered" style="width:80%">
        <thead >
            <tr >



                <th>Photo</th>

                <th>Name</th>

                <th>Description</th>

            </tr>
        </thead>

        <tr>

            <td><img src="{{asset('images/'~club.photo)}}" width="200" height="121"> </td>
            <td>{{ club.name }}</td>
            <td>{{ club.description }}</td>
        </tr>

    </table>
<div>


    <div class=" col-md-4 col-sm-4 ">

        <a href="{{ path('club_edit', { 'id': club.id }) }}"><button class="btn btn-info">Editer</button></a>

    </div>
    <br>
        <div class=" col-md-4 col-sm-4 ">

            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}

        </div>
        <li>
            <a href="{{ path('club_indexs') }}">Back to the list</a>
        </li>
    </ul>
</div>
    </center>
{% endblock %}
