{% extends 'base.html.twig' %}



{% block body %}



    <section class="contact-form-section">
        <div class="auto-container">
            <div class="contact-form">
                <div class="sec-title text-center">
                    <span class="title">Modifiez Votre Compte</span>
                    <h2>Entrez Vos Informations</h2>
                </div>
                {{ form_start(form) }}

                <div class="row">
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        {{ form_widget(form.nom,{ 'attr': {'placeholder': 'nom'} })}}
                    </div>

                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        {{ form_widget(form.prenom,{ 'attr': {'placeholder': 'prenom'} }) }}
                    </div>

                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        {{ form_widget(form.numtel,{ 'attr': {'placeholder': 'numéro'} }) }}
                    </div>

                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        {{ form_widget(form.adresse,{ 'attr': {'placeholder': 'adresse'} }) }}
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        {{ form_widget(form.username,{ 'attr': {'placeholder': 'username'} }) }}
                    </div>

                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        {{ form_widget(form.email,{ 'attr': {'placeholder': 'email'} }) }}
                    </div>

                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <input type="password" name="old" placeholder="Nouvelle mot de passe" minlength="8">
                    </div>
                    <div class="form-group col-lg-6 col-md-12 col-sm-12">
                        <input type="password" name="new" placeholder="Confirmer mot de passe">
                    </div>


                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        {{ form_widget(form.sexe) }}
                    </div>
                    {% if msg is defined and msg is not empty  %}
                        <div class="alert alert-danger" role="alert">
                            {{msg}}
                        </div>
                    {% endif %}
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 text-center">
                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">enregistrer</button>
                        {{ form_end(form) }}
                    </div>
                </div>
                </form>
            </div>
        </div>
    </section>





{% endblock %}
