{% extends 'back.html.twig' %}
{% block nav %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
        </div></div>
{% endblock nav %}
{% block body %}

<center>
    <h1>Chauffeur</h1>

    <table id="example" class="table table-striped table-bordered" style="width:20%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chauffeur.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ chauffeur.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ chauffeur.nom }}</td>
            </tr>
            <tr>
                <th>Tel</th>
                <td>{{ chauffeur.tel }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ chauffeur.sexe }}</td>
            </tr>
        </tbody>
    </table>

            {{ form_start(delete_form) }}
            <a class="btn btn-info" href="{{ path('chauffeur_edit', { 'id': chauffeur.id }) }}">Edit</a>
            <input class="btn btn-danger"type="submit" value="Delete">
            <a class="btn btn-success" href="{{ path('chauffeur_index') }}">Back to the list</a>
            {{ form_end(delete_form) }}
</center>
{% endblock %}
