{% extends 'back.html.twig' %}
{% block nav %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <center><h1>Modifier une activité</h1></center>
        </div></div>
{% endblock nav %}
{% block body %}
    <center>


<div class="col-md-6 grid-margin stretch-card" bis_skin_checked="1">
    <div class="card" bis_skin_checked="1">
        <div class="card-body" bis_skin_checked="1">

            {{ form_start(edit_form) }}
            <form method="POST" class="forms-sample">
                <div class="form-group" bis_skin_checked="1">
                    <label for="exampleInputName1">Type d'activité</label>
                    {{ form_widget(edit_form.typeact,{'attr': {'class': 'form-control'}})}}                    </div>
                <div class="form-group" bis_skin_checked="1">
                    <label for="exampleInputEmail3">details</label>

                    {{ form_widget(edit_form.detailles,{'attr': {'class': 'form-control'}})}}
                </div>
                <div class="form-group" bis_skin_checked="1">
                    <label for="exampleInputCity1">Club</label>
                    {{ form_widget(edit_form.club,{'attr': {'class': 'form-control'}})}}
                </div>
                <div class="form-group" bis_skin_checked="1">
                    <label for="exampleInputCity1">Date de l'activité</label>
                    {{ form_widget(edit_form.Date,{'attr': {'class': 'form-control'}})}}
                </div>
                <div class="form-group" bis_skin_checked="1">
                    <label for="exampleInputEmail3">photo</label>

                    {{ form_widget(edit_form.photo,{'attr': {'class': 'form-control'}})}}
                </div>

                    <button type="submit" class="btn btn-success mr-2">Editer</button>

            </form>
        </div>
    </div>
</div>
    <ul>
        <li>
            <a href="{{ path('activite_indexback') }}">Back to the list</a>
        </li>

    </ul>
    </center>
{% endblock %}
