{% extends 'back.html.twig' %}
{% block nav %}
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
        <div class="container-fluid">
            <center>      <h1></h1>  </center></div></div>
{% endblock nav %}
{% block body %}
<br>
<center>
    <table id="example" class="table table-striped table-bordered" style="width:20%">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tuteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tuteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ tuteur.prenom }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ tuteur.sexe }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>


            {{ form_start(delete_form) }}
            <a class="btn btn-info" href="{{ path('tuteur_edit', { 'id': tuteur.id }) }}">Edit</a>
             <input class="btn btn-danger" type="submit"  value="Delete">
            <a class="btn btn-success" href="{{ path('tuteur_index') }}">Back to the list</a>

            {{ form_end(delete_form) }}
        </li>
    </ul>
</center>
{% endblock %}
